.favorite-cards-holder{
    text-align: center;
    
    
}

.favorite-card-container{
    width:18%;
    display: inline-block;
    text-align: left;
    background-image: url('../assets/images/inf_temp_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10rem;
}

.favorite-card-hader{
    background-color: #f0f1f2;
    height: 50px;
    display: flex;
    align-items: center
}

.favorite-card-hader-city-name{
    width: 88%;   
    padding-left: 10px;
}

.favorite-card-remove{
    width: 12%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #d8d8d8;

}

.favorite-card-remove:hover{
    cursor: pointer;
    background-color: #c82333;
    color: #ffffff;
}


.remove-icon{
    font-size: 1.2em;
}

.favorite-card-body{
    display: flex;
    align-items: center;
}
.favorite-clouds-icon{
    display: inline-block;
}

.favorite-temp-info{
    display: inline-block;
}

.favorite-temp{
    color: #ffffff;
    font-size: 2.4em;
    
}

.favorite-clouds-info{
    color: #ffffff;
    font-size: 1em;
}