.days-grid-container{
    display: flex;
    height: 100vh;
}

.day-container{
    width: 30%;
    background-color: red;
}

.serch-city-container {
    // margin-top: 20px;
}

.five-days-container{
    width: 70%;
    background-color: rosybrown;
    
    
    
}