

.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.today-container{
    width: 60%;
    background-color: #33495f;
    margin: auto;
    border: 1px solid #f0f1f2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 2rem !important;
    
}

.today-hader-light{
    background-color: #f0f1f2;    
    display: flex;
}

.today-hader-dark{
    display: flex;
    background-color: #343a40;    
}

.choose-unit-type-container{
    display: inline-block;
    width: 25%;
    padding-left: 10px;
}

.serch-container{
    margin: auto;
    text-align: center;
    width: 50%;
    display: inline-block;
}

.favorites-continer{
    display: inline-block;
    width: 25%;
    text-align: right;
    padding-right: 10px;
}

.today-info-container{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.today-info{
    display: inline-block;
    width: 50%;
    // border-right: 1px solid #f0f1f2;
    color: #ffffff;
    background-image: url('../assets/images/inf_temp_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    border-right:1px solid #7d90a3 ;
}

.today-info-title{
    font-size: 1.8em;
}

.today-info-sub-title{
    font-size: 1em;
}

.temp-info-icon{
    display: inline-block;
    
    
}


.temp-info{
    display: inline-block;
    font-size: 4em;
    
}


.today-image{
    display: inline-block;
    width: 50%;
}

.today-image img{
    width: 100%;
}

// .five-dayes-wather-container{
//    display: flex;
// }

.five-dayes-wather-container{
    background-color: #33495f;
    display: flex;
    border-top:1px solid #f0f1f2 ;
    // height: 250px;
    color: #7d90a3;
}

.card-container{
    border-right:1px solid #7d90a3 ;
    width: 20%;
    text-align: center;
}

.card-icon{
    text-align: center;
}

.card-date{
    text-align: center;
}


.morning-info-container-icon{
    display: inline-block;
    
}

.morning-info-cloud-status{
    display: inline-block;
}

.night-info-container-icon{
    display: inline-block;
}

.night-info-container-icon img{
    width: 100%;
}

.night-info-cloud-status{
    display: inline-block;
}

.all-day-min-max-tamp-container{
    border-top: 1px solid #7d90a3;
}

.all-day-min-tamp{
    display: inline-block;    
}

.all-day-max-tamp{
    display: inline-block;
}