.vue-switcher div{
    margin-left: 15px;
}

.vue-switcher.dark span{
    color: $textLight !important;
}

.vue-switcher.light span{
    color: $textDark !important;
}

.weather-img-bg-container{
    border-bottom: 3px solid #2ea0b2;
}

.weather-img-bg-container img{
    width: 100%;
}